@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 3440px;
  padding: 0 0px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  width: 100vw;
  height: 75px;
  padding-left: 30px;
}

.navbar .logoandmenu {
  display: flex;
  align-items: center;
}

.logo img {
  width: 180px;
  height: auto;
}

.navbar .menu {
  list-style-type: none;
  color: black;
  display: flex;
  gap: 20px;
  padding-left: 50px;
  font-weight: bold;
}

.menu li {
  cursor: pointer;
  transition: color 0.3s;
}

.menu li:hover {
  color: darkgreen;
}

.navbar .employer {
  align-items: center;
  flex-direction: center;
  display: flex;
  color: black;
  padding-right: 40px;
}


.buttonEmployer a {
  color: black;
  text-decoration: none;
}

.infor {
  display: flex;
}

.vertical-line {
  border-left: 2px solid lightgray;
  height: 30px;
  margin: 0 10px;
}

.notification-buttons {
  display: flex;
  gap: 12px;
}

.notification-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ADFF2F;
  cursor: pointer;
  transition: background-color 0.3s;
}

.notification-icon:hover {
  background-color: #ADFF2F;
}

.notification-icon .anticon {
  color: #32CD32;
  font-size: 24px;
}

.user {
  display: flex;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}

.userimg {
  display: inline-flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 2px solid lightgray;
  border-radius: 50%;
  background-color: #f5f5f5;
  overflow: hidden;
}

.userimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.down-button {
  padding-left: 10px;
}

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #E0FFFF;
  padding-bottom: 20px;
}

.header-box {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  color: #009643;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin: 0 0 6px;
}

.description {
  color: #263a4d;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .12px;
  line-height: 16px;
}

.number-hight-light {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .175px;
  line-height: 22px;
}

.form-searchBar {
  align-items: center;
  background: white;
  border: 1px solid var(--Neutral-Neutral-20s, #e6e7e8);
  border-radius: 100px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .04);
  display: flex;
  gap: 16px;
  height: 64px;
  padding: 10px 10px 10px 24px;
  width: 1140px;
}


.item-search {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 44px;
  padding-right: 250px;
}


.form-Job {
  background-color: white;
  border: none;
  border-radius: 6px !important;
  font-size: 14px;
  font-weight: 500;
  height: 100%;
  outline: none;
  padding: 0 12px;
  width: 100%;
}

.item-select {
  display: flex;
  align-items: center;
  width: 200px;
}

.select-location,
.select-industry {
  border: none;
  background-color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 8px;
  border-radius: 6px;
  width: 100%;
  appearance: none;
  outline: none;
  color: black;
}

.location-icon,
.bag-icon {
  color: #000;
  font-size: 18px;
}

.down {
  color: black;
  padding-left: 130;
}

.button-search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #28a745;
  border-radius: 50px;
  width: 120px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-search:hover {
  background-color: #218838;
}

.button-search:active {
  background-color: #1e7e34;
}

.search-icon {
  font-size: 18px;
  color: white;
  margin-right: 10px;
}

.button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.button:focus {
  outline: none;
}

.information {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.infor1 {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  padding: 4px 8px;
}

.item1 {
  color: #263a4d;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .12px;
  line-height: 16px;
}

.Quantity {
  color: #00b14f;
}

.banner img {
  width: 100%;
  height: auto;
}

.job {
  padding-top: 10px;
  justify-content: center;
  align-items: center;
}

.title-job {
  display: flex;
  justify-content: space-between;
}

.title-main {
  display: flex;
}

.title1 {
  color: green;
}